
body {
    background-image: url(images/ac.jpg);

    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px;
    width: 800px;
    height: 600px;
    text-align: center;    
}

div {
    margin: 10px;
    border: 0.5px solid black;
    background-color: white;
}

.modA {
    background-image: url(images/back_mantel.jpg);
    grid-row: 1;
    grid-column: 1;
}

.modB {
    background-image: url(images/back_mantel.jpg);
    background-clip: content-box;
    grid-row: 1;
    grid-column: 2;
    padding: 20px;
}

.modC{
    background-image: url(images/back_mantel.jpg);
    background-size: 100% 100%;
    grid-row: 1;
    grid-column: 3;
}

.modD{
    background-image: url(images/back_mantel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    grid-row: 1;
    grid-column: 4;
    padding: 20px;
}

.modE{
    background-image: url(images/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 2;
    grid-column: 1;
}

.modF{
    background-image: url(images/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    grid-row: 2;
    grid-column: 2;
    padding: 20px;
}

.modG{
    background-image: url(images/dh_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-row: 2;
    grid-column: 3;
}

.modH{
    background-image: url(images/dh_3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-row: 2;
    grid-column: 4;
}

.modI{
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
    grid-row: 3;
    grid-column: 1;    
}

.modJ{
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 80%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%);
    grid-row: 3;
    grid-column: 2;
}

.modK{
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(239,239,210,1) 100%);
    grid-row: 3;
    grid-column: 3;
}

.modL{
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(255,0,0,0) 100%);
    grid-row: 3;
    grid-column: 4;
}
