h2 {
    text-align: center;
}

table{
    border: outset 2px;
    width: 100%;
    font-size: x-large;
}

tr, th {
    border: 1px solid gray;   
}

th.tizquierda{
    text-align: left;
    background-color: aqua;
}

th.verde{
    background-color: lightgreen;
}

th.trojo {
    color: red;
}

th.tcorner {
    background-color: #FF99FF;
    text-align: right;
    vertical-align: bottom;
}